//* ******************************************************
//*                    HOME PAGE
//* ******************************************************




.home-bgImg-container{
   @include bgImage(100vh, $main-bgImage-path);
 //background-image: url(../../img/Screenshot_20230408_020306.png);
// height: 100vh;
// background-position: center center;
// background-repeat: repeat;
// background-size: cover;

    
}

.home{
    // border: 2px solid red;

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &_name{
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid white;
        width: 100%;
        text-align: center;

        &-last{
            color: rgb(220, 69, 69);
        }
    }


}
