
//* **********************************************************
//*             VARIABLES
//* **********************************************************




//*font

$font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;

//*Colors
$primary-color :#272727;
$secondary-color:#ff652f;
$text-color: #eee;


$main-bgImage-path:"../img/Screenshot_20230408_020306.png"

//? bunu elle yaz ya da home sayfasindan getir.otomatik cikmiyor.
